<div class="users mb-2">
  <ng-container *ngIf="posts !== null">
    <ng-container *ngIf="posts.length">
      <div class="flex flex-col gap-2">
        <post
          *ngFor="let p of posts"
          class="shadow-lg flex flex-col justify-center bg-white p-4 text-black"
          [post]="p"
          (onDelete)="initPosts()"
        ></post>
      </div>
      <div class="u-btnwrap" *ngIf="!exhausted">
        <button
          class="btn wide transparent"
          [class.busy]="loadingMore"
          type="button"
          (click)="onLoadMore()"
        >
          <span>{{words['common']?.['more']?.[lang.slug]}}</span>
        </button>
      </div>
    </ng-container>
  </ng-container>
</div>
