<nav>
    <ul class="">
        <li *ngFor="let p of pages"><a *ngIf = "!authorized" [routerLink]="pageUrl(p)" [class.active]="isActive(p)" (click)="onClick()">{{p.name[lang.slug]}}</a></li>
        <li *ngIf = "authorized"><a routerLink="/en/about" class="pt-4" (click)="onClick()">About company</a></li>    
        <li *ngIf = "authorized"><a routerLink="/en" class="pt-4" (click)="onClick()">News</a></li>    
        <li *ngIf = "authorized"><a routerLink="/en/catalogue" class="pt-4" (click)="onClick()">Athletes catalog</a></li>    
        <li *ngIf = "authorized"><a routerLink="/en/contacts" class="pt-4" (click)="onClick()">Contacts</a></li> 
    </ul>
</nav>


