<div class="popup-wrap" [class.active]="active" (click)="onClick($event)">
    <div class="popup" id="popup-{{unique}}">
        <div class="popup-head"><div class="roundbtn transparent dark close" (click)="onClose()"><span></span></div></div>
        <div class="popup-main">
            <div id="stripe">
                <form (submit)="onSubmit()">
                    <div id="stripe-payment"></div>
                    <div id="stripe-btnwrap"><button type="submit" class="btn wide main pay" [class.busy]="paying"><span>{{words['common']?.['pay']?.[lang.slug]}}</span></button></div>
                </form>
            </div>
        </div>
    </div>
</div>
