<div class="ip-wrap {{lang.dir}}">
    <!-- можно было бы написать [type]="условие ? вариант1 : вариант2", но тогда почему-то не срабатывает директива trim, не находит теги с динамическим типом -->
    <input *ngIf="visible" type="text" maxlength="255" [(ngModel)]="currentValue" (change)="onChange()" [placeholder]="placeholder" [class.error]="error">
    <input *ngIf="!visible" type="password" maxlength="255" [(ngModel)]="currentValue" (change)="onChange()" [placeholder]="placeholder" [class.error]="error">
    <div class="ip-btn roundbtn compact transparent {{skin}}" [class.show]="visible" [class.hide]="!visible" (click)="visible = !visible"><span></span></div>
</div>
