.menu-resume {
    &.layout-4 {
        @media (min-width:0) {grid-template-columns: repeat(2, 1fr);}
        @media (min-width:1000px) {grid-template-columns: repeat(4, 1fr);}
    }
    &.layout-3 {
        @media (min-width:0) {grid-template-columns: repeat(2, 1fr);}
        @media (min-width:1000px) {grid-template-columns: repeat(3, 1fr);}
        .mr-item:first-child {
            @media (min-width:0) {grid-column: 1 / 3;}
            @media (min-width:1000px) {grid-column: 1 / 2;}
        }    
    }    
    display: grid; color: var(--color9); border-radius: 5px; overflow: hidden; margin-bottom: 15px;
    .mr-item {            
        text-align: center; white-space: nowrap; padding: 15px; background-color: var(--color3); cursor: pointer; transition: 0.3s;
        &.active, &:hover {background-color: var(--color5);}       
        &.error {animation-name: alert; animation-duration: 1s; animation-iteration-count: infinite;}                
    }
}
