<div class="pagewrap">
    <div class="page">
        <div class="breadcrumbs">
            <span><a routerLink="/{{lang.slug}}">{{words['common']?.['home']?.[lang.slug]}}</a>&nbsp;/&nbsp;</span>
            <span><a routerLink="/{{lang.slug}}/catalogue">{{page?.name[lang.slug]}}</a>&nbsp;/&nbsp;</span>            
        </div>
        <h1 [innerHTML]="h1"></h1>
        <athlet-details *ngIf="athlet" [athlet]="athlet"></athlet-details>
        <div *ngIf="!athlet" class="loading contrast"><span></span></div>
    </div>
</div>
